# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs/Dictionary/FileContentIndex/157bc95f-068a-45bc-8677-27987e983869.vsidx
/.vs/Dictionary/FileContentIndex/58bdeaa4-dc10-4b57-ae34-873daa32b5e5.vsidx
/.vs/Dictionary/FileContentIndex/5c502bc9-faab-4c5f-b98f-5bc240a25753.vsidx
/.vs/Dictionary/FileContentIndex/fd015110-6d47-43d0-a7e1-74da8e5952fa.vsidx
