################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/Dictionary/FileContentIndex/22857482-809a-4e16-b465-06fb56100361.vsidx
/.vs/Dictionary/FileContentIndex/3e0ca2bd-c41c-4ea1-8f73-5357a0aea87d.vsidx
/.vs/Dictionary/FileContentIndex/58bdeaa4-dc10-4b57-ae34-873daa32b5e5.vsidx
/.vs/Dictionary/FileContentIndex/8a651215-8365-4c74-8550-c3a7096b20ec.vsidx
/.vs/Dictionary/v17/ipch/AutoPCH/2e080dd53772e839/PERFTRIE.ipch
